/* CSS specific to Game X */
.tile {
    min-width: 50px;
    min-height: 50px;
    width:5vw;
    height:5vw;
    margin:1vw;
    background-image:url("../media/cover.png");
    float:left;
    background-repeat: round;
    opacity: 0.8;
}
.pic {
    background-repeat:round;
    height:100%;
    width:100%;
}
.game-wrapper {
    width:42vw;
    height:42vw;
    min-width: 400px;
    min-height: 400px;
    position:absolute;
    left:29vw;
    top:5vw;
}